@font-face {
  font-family: "Basis Grotesque";
  src: url(/src/BasisGrotesqueArabicPro-Regular.ttf);
}

@font-face {
  font-family: "Freight_Text_Pro_Bold";
  src: url(/src/FreightTextProBold-Regular.otf);
}
.ahref {
  background-color: #f4f4f4;
  height: 48px;
}

.ahref a {
  font-family: "Basis Grotesque";
  font-size: 15px;
  font-weight: 500;
  color: #414143;
}
.Header {
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.Logo {
  margin-top: 15px;
}
.navS button {
  color: #414143;
  font-family: "Basis Grotesque";
  border: 1px solid #414143;
  font-size: 13px;
  background-color: #0000;
  margin-right: 20px;
}
.navS {
  margin-top: 15px;
}
.fa-bars,
.fa-user {
  color: #414143;
  font-size: 18px;
}
.Head {
  background-image: url(./head.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.Search {
  height: 65px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 14%);
  border-radius: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.label_Size {
  font-family: "Basis Grotesque";
  font-size: 12px;
  color: #121214;
}
.upperInput {
  width: 334px;
}
.Start_time {
  border: 0px 1px solid #c7c7c7;
}
.First h1 {
  font-family: "Freight_Text_Pro_Bold";
  color: #121214;
  font-size: 90px;
  margin-top: 50px;
}
.First h6 {
  font-family: "Basis Grotesque";
  color: #121214;
  font-size: 28px;
  font-weight: bold;
}
.Purple {
  background-color: #f2e9ff;
  height: 30px;
  margin-top: -26px;
}
@media only screen and (max-width: 600px) {
  .Search {
    height: auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 14%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }
  .First h1 {
    font-size: 50px;
  }
  .First h6 {
    font-size: 16px;
  }
}
