@font-face {
  font-family: "Basis Grotesque";
  src: url(/src/BasisGrotesqueArabicPro-Regular.ttf);
}

.ahref{
  background-color: #f4f4f4;
  height: 48px;
}

.ahref a{
  font-family: "Basis Grotesque";
  font-size: 16px;
  font-weight: 500;
  color: #414143;
}