@font-face {
  font-family: "Basis Grotesque";
  src: url(/src/BasisGrotesqueArabicPro-Regular.ttf);
}

@font-face {
  font-family: "Freight_Text_Pro_Bold";
  src: url(/src/FreightTextProBold-Regular.otf);
}
.ahref {
  background-color: #f4f4f4;
  height: 48px;
}

.ahref a {
  font-family: "Basis Grotesque";
  font-size: 15px;
  font-weight: 500;
  color: #414143;
}
.Header {
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.Logo {
  margin-top: 15px;
}
.navS button {
  color: #414143;
  font-family: "Basis Grotesque";
  border: 1px solid #414143;
  font-size: 13px;
  background-color: #0000;
  margin-right: 20px;
}
.navS {
  margin-top: 15px;
}
.fa-bars,
.fa-user {
  color: #414143;
  font-size: 18px;
}
.Head {
  background-image: url(./head.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.Search {
  height: 65px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 14%);
  border-radius: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.label_Size {
  font-family: "Basis Grotesque";
  font-size: 12px;
  color: #121214;
}
.upperInput {
  width: 334px;
}
.Start_time {
  border: 0px 1px solid #c7c7c7;
}
.First h1 {
  font-family: "Freight_Text_Pro_Bold";
  color: #121214;
  font-size: 90px;
  margin-top: 50px;
}
.First h6 {
  font-family: "Basis Grotesque";
  color: #121214;
  font-size: 28px;
  font-weight: bold;
}
.Purple {
  background-color: #f2e9ff;
  height: 30px;
  margin-top: -30px;
}
.Slider h5 {
  text-align: left;
  font-family: "Basis Grotesque";
  font-size: 21px;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: 28px;
  text-transform: none;
  margin-left: 20px;
  margin-bottom: -20px;
  margin-top: 40px;
}
.Cards {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);
  padding: 0px;
  margin: 20px;
}
.Cards:hover h6 {
  box-shadow: 0 8px 16px 0 rgb(35 31 32 / 10%), 0 0 3px 0 rgb(35 31 32 / 5%);
  color: #593cfb;
  transition: 0.6s;
}
.Cards h6 {
  font-family: "Basis Grotesque";
  font-size: 16px;
  font-weight: 900;
  color: #121214;
  line-height: 42px;
}
.Cards img {
  height: 190px;
  width: 219px;
  border-radius: 8px 8px 0px 0px;
}
.CardsTwo {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);
  padding: 0px;
  margin: 20px;
}
.CardsTwo:hover h6 {
  box-shadow: 0 8px 16px 0 rgb(35 31 32 / 10%), 0 0 3px 0 rgb(35 31 32 / 5%);
  color: #593cfb;
  transition: 0.6s;
}
.CardsTwo h6 {
  font-family: "Basis Grotesque";
  font-size: 16px;
  font-weight: 900;
  color: #121214;
  line-height: 42px;
}
.CardsTwo img {
  width: 80%;
  border-radius: 8px 8px 0px 0px;
}
.upperInput {
  width: auto;
}
.react-multi-carousel-list {
  padding-top: 30px;
}
.react-multiple-carousel__arrow--right {
  top: calc(-2% + 8px);
}
.react-multiple-carousel__arrow--left {
  left: calc(89% + 0px) !important;
  top: calc(-2% + 8px);
}
.react-multiple-carousel__arrow {
  min-width: 36px;
  min-height: 36px;
  background-color: #f2e9ff !important;
}
.react-multiple-carousel__arrow::before {
  color: rgb(0, 0, 0) !important;
}
.Color_Gray {
  background-color: #f4f4f4;
}
.Footer_text p {
  color: #121214;
  font-size: 12px;
  font-family: "Basis Grotesque";
  font-weight: 600;
  letter-spacing: 1px;
  padding: 24px 0px;
}
.Footer_text {
  margin: 10px;
  /* padding: 10px 200px; */
}
.Color_Purple {
  color: #593cfb;
  text-decoration: none;
}
.Footer_sec_one h6 {
  color: #121214;
  font-size: 16px;
  font-family: "Basis Grotesque";
  margin-bottom: 24px;
  font-weight: bold;
}
.Footer_sec_one ul {
  margin: 0px;
  padding: 0px;
}
.Footer_sec_one ul li {
  color: #121214;
  list-style: none;
  font-weight: 500;
  font-size: 13px;
  font-family: "Basis Grotesque";
  line-height: 26px;
}
.Footsec {
  border-top: 1px solid;
  border-color: #e7e7e8;
  padding-top: 40px;
  padding-bottom: 40px;
}
.Social {
  display: flex;
  justify-content: space-evenly;
}
.Social i {
  color: #121214;
  font-size: 22px;
}
.Stores {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.Sec_Sec img {
  width: 75%;
}
.Sec_Sec h3 {
  color: #121214;
  font-size: 28px;
  font-weight: bold;
  font-family: "Basis Grotesque";
}
.Sec_Sec p {
  color: #121214;
  font-size: 16px;
  font-family: "Basis Grotesque";
}
.Sec_Sec button {
  font-family: "Basis Grotesque";
  font-size: 18px;
  color: #ffffff;
  line-height: 49px;
  font-weight: 500;
  padding: 0 18px;
  background-color: #593cfb;
  border: 1px solid #593cfb;
}
.FAQs_one h1 {
  font-family: "Freight_Text_Pro_Bold";
  font-size: 52px;
  color: #121214;
  text-align: center;
  z-index: 6;
}
.ant-dropdown-menu-title-content {
  font-family: "Basis Grotesque";
  font-size: 16px;
  color: #414143;
  padding: 8px 12px;
}
.ant-dropdown-menu {
  background-color: #fff;
  padding: 8px;
}
.Dreams button {
  font-family: "Basis Grotesque";
  line-height: 49px;
  font-weight: 600;
  padding: 0 18px;
  background-color: #593cfb;
  border: 1px solid #593cfb;
  letter-spacing: 1.5px;
  color: #ffffff;
  font-size: 18px;
  transition: 0.5s border, 0.5s;
}
.Dreams p{
  color: #121214;
  margin-bottom: 24px;
  font-family: "Basis Grotesque";
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}
.Dreams h2{
  color: #121214;
  font-family: "Freight_Text_Pro_Bold";
  margin-top: 24px;
  line-height: 56px;
  font-size: 51px;
  font-weight: 400;
  letter-spacing: 0;
}
.Special{
  background-color: #121214;
  color: #fff;
  display: block;
  position: absolute;
  text-align: left;
  width: 360px;
  height: 288px;
  margin-top: 155px;
}
.Special, h6, h3, span{
  font-family: "Basis Grotesque";
}
.Special span{
  text-decoration: underline;
}
.BGD{
  margin-bottom: 50px;
}
.BGD img{
  width: 944px;
  height: 496px;
}
@media only screen and (max-width: 600px) {
  .Search {
    height: auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 14%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }
  .First h1 {
    font-size: 50px;
  }
  .First h6 {
    font-size: 16px;
  }
  .Cards {
    margin: 0px 73px !important;
  }
  .react-multiple-carousel__arrow--left {
    left: calc(72% + 0px) !important;
  }
  .Footer_text {
    padding: 10px 10px !important;
  }
  .FAQs_one h1 {
    font-size: 26px;
  }
  .Sec_Sec img {
    width: 100%;
  }
  .Dreams h2{
    font-size: 26px;
  }
  .BGD{
    margin-bottom: 250px;
  }
  .BGD img{
    width: 310px;
    height: 200px;
  }
  .Special{
    width: 317px;
    height: 260px;
    margin-top: 200px;
  }
}
